body {
    background-color: aliceblue;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.Counter{
    display: flex;
    margin-top: 80px;
}

.Counter div{
    display: inline-block;
    font-size: 100px;
    line-height: 100px;
    color: black;
    padding: 10px;
    margin: 4px;
    border: solid 4px grey ;
    border-radius: 6%;
}

.buttonGroup {
    margin-top: 20px;
    border: none;
    border-radius: 6%;
}

.buttonGroup button {
    margin: 4px;
    padding: 10px;
    border: 4px #ed281a solid;
    border-radius: 6%;
    color:blue;
    background-color: lightblue;
    background-repeat:no-repeat;
    border: solid 1px black;      
    font-weight: bold;
    font-size: 25px;
    
}

